services:
  db:
    container_name: rss_db
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5555:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
