name: ci

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - 'frontend/**'
  pull_request:
    branches:
      - main
    paths:
      - 'backend/**'
      - 'frontend/**'

env:
  DOCKERHUB_USERNAME: veetik
  DOCKERHUB_IMAGE: veetik/rss

jobs:
  checks:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # 1.15.2
        with:
          components: rustfmt

      - name: "check formatting"
        run: cargo fmt --check


  amd64_build_and_push_docker_image:
    name: build and push docker image (amd64)
    runs-on: ubuntu-24.04
    needs: checks
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: "docker: setup qemu"
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # 3.7.0

      - name: "docker: setup buildx"
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # 3.12.0

      - name: "docker: login to dockerhub"
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # 3.7.0
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: "docker: generate metadata image"
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # 5.10.0
        id: meta
        with:
          images: ${{ env.DOCKERHUB_IMAGE }}
          tags: |
            type=sha
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}

      - name: "docker: build and push image"
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # 6.18.0
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          context: .
          platforms: linux/amd64,linux/arm64
